*, html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.banner-main {
  background-image: url("./images/glasses-bg.png");
  height: 30rem;
  background-size: cover;
  background-position: center;
}

.banner-main .container {
  flex-direction: column;
}

header {
  background-color: cadetblue;
  font-family: helvetica;
  font-size: 1rem;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

header .logo img {
  height: 1.5rem;
  margin-left: 2rem;
}

header .logo h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header nav span {
 margin-right: 2rem;
}

.menu-button {
  display: none;
}

header nav a {
  color: white;
  text-decoration: none
}

.banner-text {
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}

.banner-text h1 {
  padding: 1.5rem 5rem;
  display: inline-block;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin-right: -2rem;
}

.banner-services {
  margin-top: 3rem;
}

.banner-services .container {
  display: flex;
  justify-content: center;
}

.icons-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exam .icons-image img {
  width: 3.5rem;
}

.icons-image img {
  max-width: 100%;
}

.icons {
  height: 8rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.info h4 {
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 10rem;
  margin-top: 3rem;
}

.info p {
  margin-top: 1rem;
}

.philosophy,
.appointments {
  width: 35%;
  margin: 1rem 2.5%;
}

.info .container {
  justify-content: center;
  margin-bottom: 5rem;
}

footer {
  background-color: azure;
  box-sizing: border-box;
  align-items: center;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }

  header {
    margin-top: 0;
  }

  .banner-main {
    height: 22rem;
  }

  .banner-text {
    margin-top: 5rem;
  }

  .banner-text h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 768px)  {
  .menu-button {
    display: inline-block;
  }

  header nav span {
    display: none;
  }

  .banner-main {
    height: 17rem;
    background-position: left;
  }

  .banner-text {
    margin-top: 9rem;
  }

  .banner-text h1 {
    width: 100%;
    padding: 1rem 0;
    margin-right: 0;
    text-align: center;
    font-size: 1rem;
  }

  .banner-services .container {
    flex-direction: column;
    align-items: center;
  }

  .banner-services {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
  }

  .banner-services .icons h4 {
    font-size: 0.77rem;
  }

  .fitting,
  .delivery {
    margin-top: 1.54rem;
  }

  .icons {
    height: inherit;
  }

  .icons-image {
    margin-bottom: 1.54rem;
  }

  .philosophy,
  .appointments {
    width: 100%;
  }

  .info .container {
    flex-direction: column;
    align-items: center;
  }

  .philosophy h4,
  .appointments h4 {
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
  }

  .philosophy p,
  .appointments p {
    font-size: 0.77rem;
    margin-top: 1rem;
    padding: 0 2rem;
  }

  footer span {
    display: none;
  }

  footer {
    justify-content: center;
  }
}
